In [115]:
def create_slice(index_names,*vargs,**kwargs):
    return tuple(map(lambda elm:f(elm[0],elm[1],vargs,kwargs) ,enumerate(index_names)))

In [116]:
def f(i,indx,vargs,kwargs):
    if i<len(vargs):
        return vargs[i]
    else:
        return kwargs.get(indx,slice(None))

In [117]:
index_names = ["index_1","index_2"]

In [118]:
index_names

['index_1', 'index_2']

In [119]:
create_slice(index_names,3,3)

(3, 3)

In [120]:
import pandas as pd

In [216]:
@pd.api.extensions.register_dataframe_accessor("fidx")
class FastIndex(object):
    def __init__(self, df):
        self._df = df

    @staticmethod
    def _validate(obj):
        if 'lat' not in obj.columns or 'lon' not in obj.columns:
            raise AttributeError("Must have 'lat' and 'lon'.")


    def f_slice(self,*vargs,**kwargs):
        # return the geographic center point of this DataFrame
        slc = create_slice(self._df.index.names,*vargs,**kwargs)
        if isinstance(self._df.index, pd.core.index.MultiIndex):    
            return slc
        else:
            return slc[0]
    
    def slice(self,*vargs,columns =slice(None),**kwargs):
        return self._df.loc[self.f_slice(*vargs,**kwargs),columns]

/home/yonatan/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: UserWarning: registration of accessor <class '__main__.FastIndex'> under name 'fidx' for type <class 'pandas.core.frame.DataFrame'> is overriding a preexisting attribute with the same name.

In [217]:
pd.MultiIndex.from_tuples([],names=["indx1","indx2"])

MultiIndex(levels=[[], []],
           codes=[[], []],
           names=['indx1', 'indx2'])

In [218]:
df = pd.DataFrame([[1,2,3,4],[3,4,5,6]],index=pd.MultiIndex.from_tuples([("one","a"),("two","b")],names=["indx1","indx2"]))

In [219]:
df1 = pd.DataFrame([[1,2,3,4],[3,4,5,6]])

In [220]:
df1.loc[[0]]

   0  1  2  3
0  1  2  3  4

In [221]:
df1.loc[df1.fidx.f_slice([0])[0],slice(None)]

0    1
1    2
2    3
3    4
Name: 0, dtype: int64

In [226]:
df1.fidx.slice([1])

   0  1  2  3
1  3  4  5  6

In [227]:
df1.loc[df1.fidx.f_slice([0]),slice(None)]

   0  1  2  3
0  1  2  3  4

In [228]:
df.fidx.f_slice(indx="df")

(slice(None, None, None), slice(None, None, None))

In [229]:
df1.loc[slice(0)]

   0  1  2  3
0  1  2  3  4

In [235]:
df.fidx.slice(indx1=["one","two"])

             0  1  2  3
indx1 indx2
one   a      1  2  3  4
two   b      3  4  5  6